[submodule "site/textmate-mode"]
	path = site/textmate-mode
	url = git://github.com/defunkt/textmate.el.git
[submodule "site/clojure-mode"]
	path = site/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "site/cucumber.el"]
	path = site/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
